<div class="container">

  <h1>Welcome to strolls</h1>
  <p>Discover the hidden gems in your city through deals</p>

  <h3>Who are you?</h3>

  <hr>

  <div class="col-xs-6">
    <a href="users/sign_up">
    <h4>I'm a new client</h4>
    <p>I want to discover</p>
    </a>

    <a href="users/sign_in">
    <h4>I'm already a client</h4>
    <p>I want to discover</p>
    </a>
  </div>

  <div class="col-xs-6">
    <a href="owners/sign_up">
    <h4>I'm a new shop owner</h4>
    <p>I want to make great deals available</p>
    </a>

    <a href="owners/sign_in">
    <h4>I'm already have a shop on strolls</h4>
    <p>I want to discover</p>
    </a>
  </div>
</div>
